<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269449152171-8svcsh7ts53er626l5hsafeah3rnti8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269449152171-8svcsh7ts53er626l5hsafeah3rnti8e</string>
	<key>API_KEY</key>
	<string>AIzaSyAktz1wVQW0-9H0Xiyyi2XnMdXbZprwT5k</string>
	<key>GCM_SENDER_ID</key>
	<string>269449152171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosl.AuthTest.com</string>
	<key>PROJECT_ID</key>
	<string>testauth-f8080</string>
	<key>STORAGE_BUCKET</key>
	<string>testauth-f8080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269449152171:ios:b09dbe17781850c10ed9ee</string>
	<key>DATABASE_URL</key>
	<string>https://testauth-f8080.firebaseio.com</string>
</dict>
</plist>